body{
    background-color: #D4CDFA;
    background-position: center;  
    height: 100vh;
}
#weatherBlock {
    background-color: #188787;
    color: #fff;
    font-family: Helvetica,Ubuntu Light,Arial,Sans-Serif;
    font-size: 15px;
    font-weight: 200;
    padding: 10px 20px;
    min-height: 130px;
    width: 40%;
    margin: 10px auto;
    border-radius: 10px;
}
#block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#whaeterIcon {
    width: 20%;
}
#weather {
    width: 40%;
}
weatherConditions {
    width: 40%;
}
#temperature {
    font-size: 70px;
}
#weatherDescription {
    font-size: 20px;
}
#feelTemp {
    margin: 10px 0;
}
#wind {
    margin: 10px 0;
}
#gust {
    margin: 10px 0;
}
input {
    margin: 0 auto;
}
#city {
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid #188787 2px;
}
#search {
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid #188787 2px;
    background-color: #D5DFDA;
}
#language {
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid #188787 2px;
    background-color: white;
}
label {
    font-family: Helvetica,Ubuntu Light,Arial,Sans-Serif;
    font-size: 15px;
}
.selection {
    width: 40%;
    display: flex;
    margin: 10px auto;
    justify-content: space-between;
}
.dayForecast {
    font-family: Helvetica,Ubuntu Light,Arial,Sans-Serif;
    font-size: 15px;
    font-weight: 200;
    background-color: #e0e7e4;
    color: #7A7A7A;
    padding: 10px 20px;
    width: 40%;
    height: 50px;
    margin: 10px auto;
    border-radius: 10px;
}
.singleDay{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.forecastDate {
    width: 20%;
}
.symbol {
    width: 10%;
    height: 50px;
    margin: 0 15px;
}
.temp {
    font-size: 35px;
    margin: 0 25px;
    width: 20%;
    text-align: center;
}
.description {
    font-size: 20px;
    margin: 0 25px;
    width: 40%;
}
